---
import Plantilla from "@/layouts/Plantilla.astro";
import Section from "@/components/Section.astro";
import Pildoras from "@/components/Pildoras.astro";
import Proyecto from "@/components/Proyecto.astro";
import portfolio from "@/content/portfolio.json";
import "@/styles/inicio.css";
import "@/styles/proyectos.css";
import "@/styles/tecnologias.css";
import Tecnologia from "@/components/Tecnologia.astro";

const { proyectos, contacto, tecnologias } = portfolio;
---

<Plantilla
  titulo={"Portfolio - Acis"}
  descripcion={"Portfolio de Acis Avendaño Sánchez"}
>
  <main>
    <Section id="inicio" clases={["inicio"]}>
      <aside class="inicio-izquierdo">
        <h1>
          <span class="texto-llamativo">¡Hola!</span>
          soy Acis Avendaño Sánchez, soy desarrollador
          <span class="texto-llamativo"> Full Stack Junior </span>
        </h1>
        <div class="contenedor-pildoras">
          <Pildoras enlace={contacto.linkedin} texto="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </Pildoras>
          <Pildoras enlace={contacto.github} texto="GitHub">
            <i class="fa-brands fa-github"></i>
          </Pildoras>
          <Pildoras enlace="" texto="Descargar CV" descarga={true}>
            <i class="fa-solid fa-download"></i>
          </Pildoras>
        </div>
      </aside>
      <aside class="inicio-derecho">
        <img
          src="./foto.jpeg"
          width="500px"
          height="500px"
          alt="Foto de Acis"
        />
      </aside>
    </Section>
    {
      proyectos.length > 0 ? (
        <Section id="proyectos" titulo="Proyectos" clases={["proyectos"]}>
          <div>
            {proyectos!.map((proyecto: any) => {
              return (
                <Proyecto
                  imagen={!proyecto.imagen ? "./missing.png" : proyecto.imagen}
                  descripcion={proyecto.descripcion}
                  enlacegit={proyecto.git}
                  enlacedemo={proyecto.demo}
                />
              );
            })}
          </div>
        </Section>
      ) : null
    }
    <Section id="sobremi" titulo="Sobre mí" clases={["sobremi"]}>
      <p>
        Soy un Licenciado en Sistemas Computacionales, me gusta aprender nuevas
        tecnologías, viendo las nuevas posibilidades que puedo llegar a hacer
        estás y me gusta escuchar música dubstep mientras me concentro en la
        programación.
      </p>
      <p>
        Capaz de adaptarse a las situaciones que se presenten, me gustan los
        desafíos que se me presenten, llegando a ponerle mucha atención por la
        emoción de ver de lo que puedo llegar a hacer para obtener una o varias
        posibles soluciones.
      </p>
    </Section>
    <Section titulo="Tecnologías" clases={["tecnologias"]}>
      <div class="tecnologias-contenedor">
        <Tecnologia
          titulo="Lenguajes de Desarrollo"
          tecnologia={tecnologias.lenguajes}
          clases={["tecnologia"]}
        />
        <Tecnologia
          titulo="Herramientas"
          tecnologia={tecnologias.herramientas}
          clases={["tecnologia"]}
        />
        <Tecnologia
          titulo="Frameworks"
          tecnologia={tecnologias.frameworks}
          clases={["tecnologia"]}
        />
      </div>
    </Section>
    <Section id="contacto" titulo="Contacto" clases={["contacto"]}>
      <a href={contacto.linkedin} target="_self">
        <i class="fa-brands fa-linkedin"></i>LinkedIn
      </a>
      <a href={"mailto:" + contacto.correo}>
        <i class="fa-solid fa-at"></i>acisavendano@outlook.com
      </a>
    </Section>
  </main>
</Plantilla>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
  }

  .texto-llamativo {
    color: rgb(22, 57, 255);
  }
  .sobremi {
    width: 100%;
    font-size: 20px;
  }

  .contacto {
    height: 500px;
    width: 100%;
  }
  .contacto a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
</style>
