---
import Plantilla from "@/layouts/Plantilla.astro";
import Section from "@/components/Section.astro";
import Pildoras from "@/components/Pildoras.astro";
import Proyecto from "@/components/Proyecto.astro";
import portfolio from "@/content/portfolio.json";

const { proyectos, contacto } = portfolio;
---

<Plantilla
  titulo={"Portfolio - Acis"}
  descripcion={"Portfolio de Acis Avendaño Sánchez"}
>
  <main>
    <Section id="inicio" clases={["inicio"]}>
      <aside class="inicio-izquierdo">
        <h1>
          <span class="texto-llamativo">¡Hola!</span>
          soy Acis Avendaño Sánchez, soy desarrollador
          <span class="texto-llamativo"> Full Stack Junior </span>
        </h1>
        <div class="contenedor-pildoras">
          <Pildoras enlace={contacto.linkedin} texto="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </Pildoras>
          <Pildoras enlace={contacto.github} texto="GitHub">
            <i class="fa-brands fa-github"></i>
          </Pildoras>
          <Pildoras enlace="" texto="Descargar CV" descarga={true}>
            <i class="fa-solid fa-download"></i>
          </Pildoras>
        </div>
      </aside>
      <aside class="inicio-derecho">
        <img
          src="./foto.jpeg"
          width="500px"
          height="500px"
          alt="Foto de Acis"
        />
      </aside>
    </Section>
    {
      proyectos.length > 0 ? (
        <Section id="proyectos" titulo="Proyectos" clases={["proyectos"]}>
          <div style={proyectos.length % 2 == 0 ? " flex:1 1 50%" : null}>
            {proyectos!.map((proyecto: any) => {
              return (
                <Proyecto
                  imagen={proyecto.imagen}
                  descripcion={proyecto.descripcion}
                  enlacegit={proyecto.git}
                  enlacedemo={proyecto.demo}
                />
              );
            })}
          </div>
        </Section>
      ) : null
    }
    <Section id="sobremi" titulo="Sobre mí" clases={["sobremi"]}>
      <p>
        Soy un Licenciado en Sistemas Computacionales, me gusta aprender nuevas
        tecnologías, viendo las nuevas posibilidades que puedo llegar a hacer
        estás y me gusta escuchar música dubstep mientras me concentro en la
        programación.
      </p>
      <p>
        Capaz de adaptarse a las situaciones que se presenten, me gustan los
        desafíos que se me presenten, llegando a ponerle mucha atención por la
        emoción de ver de lo que puedo llegar a hacer para obtener una o varias
        posibles soluciones.
      </p>
    </Section>
    <Section titulo="Tecnologías" clases={["tecnologias"]}>
      <article class="tecnologia">
        <h2>Lenguajes de Desarrollo</h2>
        <div>Java, C#, JavaScript, TypeScript, C#</div>
      </article>
      <article class="tecnologia">
        <h2>Herramientas</h2>
        <div>Docker, Git</div>
      </article>
      <article class="tecnologia">
        <h2>Frameworks</h2>
        Astro, Nextjs, .Net
      </article>
    </Section>
    <Section id="contacto" titulo="Contacto" clases={["contacto"]}>
      <a href={contacto.linkedin} target="_self">
        <i class="fa-brands fa-linkedin"></i>LinkedIn
      </a>
      <a href={"mailto:" + contacto.correo}>
        <i class="fa-solid fa-at"></i>acisavendano@outlook.com
      </a>
    </Section>
  </main>
</Plantilla>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
  }

  .inicio {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 80px);
  }

  .inicio-izquierdo {
    width: 50%;
  }
  .inicio-derecho {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .inicio h1 {
    font-size: 40px;
  }

  .inicio img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: 100% 60%;
    border-radius: 100%;
  }

  .texto-llamativo {
    color: rgb(22, 57, 255);
  }

  .contenedor-pildoras {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .proyectos {
    display: flex;
    flex-direction: column;
  }

  .proyectos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .sobremi {
    width: 100%;
    font-size: 20px;
  }

  .tecnologias {
    width: 100%;
  }

  .contacto {
    height: 500px;
    width: 100%;
  }
  .contacto a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
</style>
